@use "../utils/variables" as v;
@use "../utils/typography" as typo;

.dashboard-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: var(--color-bg-input);
    height: 4rem;
    border-radius: v.$btn-border-radius;

    .dashboard-item-name {
        font-weight: 600;
        font-size: 0.8rem;
        font-family: typo.$font-text-body;
        color: var(--color-text-secundary);
    }

    .dashboard-item-value {
        font-family: typo.$font-numeric;
        font-weight: 600;
        font-size: 1rem;
        color: var(--color-text-secundary);
        
        &.inflow {
            color: var(--color-inflow);
        }
        
        &.outflow {
            color: var(--color-outflow);
        }
    }
}