@use "../utils/typography" as typo;
@use "../utils/variables" as v;

.large-input {
    color: var(--color-text-primary);
    font-family: typo.$font-text-body;
    border: none;
    border-radius: v.$btn-border-radius;
    background-color: var(--color-bg-input);
    height: 2.5rem;
    padding: 0rem 0.4rem;
}