@use "../utils/typography" as typo;
@use "../utils/variables" as v;

.large-btn {
    min-width: 80%;
    height: 2.5rem;
    background-color: var(--color-btn-primary);
    transition: v.$transition;
    cursor: pointer;
    border: none;
    border-radius: v.$btn-border-radius;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--color-btn-primary-hover);
    }

    .large-btn-text {
        font-family: typo.$font-text-btn;
        color: var(--color-bg-secundary);
        font-weight: 600;
        font-size: larger;
    }
}