@use "../utils/variables" as v;

nav {
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--color-bg-secundary);
    box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem var(--color-box-shadow);
}

.sandwich-menu {
    height: 100%;
    width: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;

    cursor: pointer;
    transition: v.$transition;

    span {
        height: 10%;
        width: 70%;
        background-color: var(--color-text-primary);
        transition: v.$transition;
    }

    &.show-menu {
        .span-1{
            transform: rotate(45deg) translateY(13px);
        }
        .span-2{
            opacity: 0;
        }
        .span-3{
            transform: rotate(-45deg) translateY(-13px);
        }
                
    }
}

.right-justified-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--color-text-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-theme-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--color-text-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}