@use "../utils/typography" as typo;

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: typo.$font-text-primary;
        font-weight: 500;
        font-size: 2rem;
        color: var(--color-text-primary);
    }

}

.sub-title {
    display: flex;
    justify-content: start;
    align-items: center;

    p {
        font-family: typo.$font-text-primary;
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--color-text-primary);
    }

}

.align-left {
    display: flex;
    justify-content: start;
    align-items: center;
}