@use "../components/dashboardStats";
@use "../components/recentTransaction";

.dashboard-stats {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.recent-transactions-area {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .recent-transactions {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }
}