@use "./utils/light-theme";
@use "./utils/dark-theme";
@use "./components/header";
@use "./layout/container";
@use "./layout/dashboard";
@use "./utils/variables" as v;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: v.$transition;
}

main {
    height: 100%;
    padding: 1rem;
}