.dark {
    --color-bg-primary: #2c2d2f;
    --color-bg-secundary: #191b21;
    --color-text-primary: #F9FAFB;
    --color-text-secundary: #9CA3AF;
    --color-inflow: #4ADE80;
    --color-outflow: #F87171;
    --color-border: #374151;
    --color-btn-primary: #748ddd;
    --color-btn-primary-hover: #7b95ea;
    --color-bg-input: #272b32;
    --color-box-shadow: #111111;
}