:root {
    --color-bg-primary: #e6e6e6;
    --color-bg-secundary: #f3f3f3;
    --color-text-primary: #111827;
    --color-text-secundary: #6B7280;
    --color-inflow: #16A34A;
    --color-outflow: #DC2626;
    --color-border: #E5E7EB;
    --color-btn-primary: #748ddd;
    --color-btn-primary-hover: #8ba2ef;
    --color-bg-input: #ffffff;
    --color-box-shadow: #c3c2c2;
}