@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-primary);
  transition: 0.3s ease;
}

header {
  padding: 0.7rem 1rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 5rem;
}
header.auth-page-header {
  display: flex;
  justify-content: end;
}

main {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

:root {
  --color-bg-primary: #e6e6e6;
  --color-bg-secundary: #f3f3f3;
  --color-text-primary: #111827;
  --color-text-secundary: #6B7280;
  --color-inflow: #16A34A;
  --color-outflow: #DC2626;
  --color-border: #E5E7EB;
  --color-btn-primary: #748ddd;
  --color-btn-primary-hover: #8ba2ef;
  --color-bg-input: #ffffff;
  --color-box-shadow: #c3c2c2;
}

.dark {
  --color-bg-primary: #2c2d2f;
  --color-bg-secundary: #191b21;
  --color-text-primary: #F9FAFB;
  --color-text-secundary: #9CA3AF;
  --color-inflow: #4ADE80;
  --color-outflow: #F87171;
  --color-border: #374151;
  --color-btn-primary: #748ddd;
  --color-btn-primary-hover: #8ba2ef;
  --color-bg-input: #272b32;
  --color-box-shadow: #111111;
}

nav {
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: var(--color-bg-secundary);
  box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem var(--color-box-shadow);
}

.sandwich-menu {
  height: 100%;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.sandwich-menu span {
  height: 10%;
  width: 70%;
  background-color: var(--color-text-primary);
  transition: 0.3s ease;
}
.sandwich-menu.show-menu .span-1 {
  transform: rotate(45deg) translateY(13px);
}
.sandwich-menu.show-menu .span-2 {
  opacity: 0;
}
.sandwich-menu.show-menu .span-3 {
  transform: rotate(-45deg) translateY(-13px);
}

.right-justified-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-box {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(40px);
  padding: 1.5rem;
  border-radius: 8px;
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  transition: 0.3s ease;
}
.notification-box .notification-message {
  color: var(--color-bg-secundary);
  font-weight: 700;
  font-family: "Roboto";
}
.notification-box .close-notification-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--color-bg-secundary);
  transition: 0.3s ease;
}
.notification-box .close-notification-btn:hover {
  transform: scale(1.3);
  color: var(--color-bg-secundary);
}
.notification-box.visible {
  opacity: 1;
  transform: translateY(0);
}
.notification-box.success {
  background-color: var(--color-inflow);
}
.notification-box.error {
  background-color: var(--color-outflow);
}

@media (max-width: 425px) {
  .notification-box {
    padding: 1rem 1.5rem;
    max-width: 80%;
  }
  .notification-box .notification-message {
    font-size: 0.8rem;
  }
}
@media (max-width: 470px) {
  .notification-box {
    padding: 1.5rem;
    max-width: 80%;
  }
  .notification-box .notification-message {
    font-size: 0.8rem;
  }
}
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-text-primary);
}

.sub-title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.sub-title p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-text-primary);
}

.align-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.large-btn {
  min-width: 80%;
  min-height: 2.5rem;
  background-color: var(--color-btn-primary);
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.large-btn:hover {
  background-color: var(--color-btn-primary-hover);
}
.large-btn .large-btn-text {
  font-family: "Roboto";
  color: var(--color-bg-secundary);
  font-weight: 600;
  font-size: larger;
}

.large-input {
  color: var(--color-text-primary);
  font-family: "Roboto";
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: var(--color-bg-input);
  height: 2.5rem;
  padding: 0rem 0.4rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.auth-card-footer-text {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  color: var(--color-text-secundary);
}
.auth-card-footer-text a {
  text-decoration: none;
}
.auth-card-footer-text span {
  color: var(--color-btn-primary);
  font-family: "Roboto";
  transition: 0.3s ease;
}
.auth-card-footer-text span:hover {
  color: var(--color-btn-primary-hover);
  font-weight: 500;
}

.container-card {
  background-color: var(--color-bg-secundary);
  padding: 1rem;
  border-color: var(--color-border);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem var(--color-box-shadow);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
}

.dashboard-item, .recent-transaction-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-bg-input);
  height: 4rem;
  border-radius: 8px;
}
.dashboard-item .dashboard-item-name, .recent-transaction-item .dashboard-item-name, .recent-transaction-item .recent-transaction-name, .recent-transaction-item .recent-transaction-inner-container .recent-transaction-category, .recent-transaction-item .recent-transaction-inner-container .recent-transaction-date {
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Roboto";
  color: var(--color-text-secundary);
}
.dashboard-item .dashboard-item-value, .recent-transaction-item .dashboard-item-value, .recent-transaction-item .recent-transaction-inner-container .recent-transaction-value {
  font-family: "Space Mono";
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-text-secundary);
}
.dashboard-item .dashboard-item-value.inflow, .recent-transaction-item .dashboard-item-value.inflow, .recent-transaction-item .recent-transaction-inner-container .inflow.recent-transaction-value {
  color: var(--color-inflow);
}
.dashboard-item .dashboard-item-value.outflow, .recent-transaction-item .dashboard-item-value.outflow, .recent-transaction-item .recent-transaction-inner-container .outflow.recent-transaction-value {
  color: var(--color-outflow);
}

.recent-transaction-item {
  flex-direction: row;
  padding: 1rem 1rem;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.recent-transaction-item:hover {
  background-color: var(--color-btn-hover);
}
.recent-transaction-item .recent-transaction-name {
  width: 40%;
  font-size: 1rem;
}
.recent-transaction-item .recent-transaction-inner-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 60%;
}
.recent-transaction-item .recent-transaction-inner-container .recent-transaction-category {
  display: none;
  font-size: 1rem;
}
.recent-transaction-item .recent-transaction-inner-container .recent-transaction-date {
  display: none;
  font-size: 1rem;
}
.recent-transaction-item .recent-transaction-inner-container .recent-transaction-value {
  font-size: 1rem;
}
@media (min-width: 460px) {
  .recent-transaction-item .recent-transaction-inner-container {
    justify-content: space-around;
  }
  .recent-transaction-item .recent-transaction-inner-container .recent-transaction-category {
    display: block;
  }
}
@media (min-width: 825px) {
  .recent-transaction-item .recent-transaction-inner-container {
    justify-content: space-between;
  }
  .recent-transaction-item .recent-transaction-inner-container .recent-transaction-date {
    display: block;
  }
}

.dashboard-stats {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.balance-stat {
  height: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.balance-stat .balance-text {
  color: var(--color-text-secundary);
  font-family: "Roboto";
  font-size: 1.3rem;
}
.balance-stat .balance-value {
  color: var(--color-text-primary);
  font-family: "Roboto";
  font-size: 1.5rem;
}

.dashboard-stats-inner-container {
  display: flex;
  gap: 0.6rem;
}

.register-transaction-btns {
  display: flex;
  gap: 0.5rem;
}

.register-transaction-btn {
  width: 50%;
  min-height: 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-transaction-btn.income {
  background-color: var(--color-inflow);
  transition: 0.3s ease;
}
.register-transaction-btn.income:hover {
  background-color: var(--color-bg-input);
}
.register-transaction-btn.income:hover .register-transaction-btn-text {
  color: var(--color-inflow);
}
.register-transaction-btn.expense {
  background-color: var(--color-outflow);
  transition: 0.3s ease;
}
.register-transaction-btn.expense:hover {
  background-color: var(--color-bg-input);
}
.register-transaction-btn.expense:hover .register-transaction-btn-text {
  color: var(--color-outflow);
}
.register-transaction-btn .register-transaction-btn-text {
  font-family: "Roboto";
  color: var(--color-bg-secundary);
  font-weight: 600;
  font-size: larger;
}

.recent-transactions-area {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.recent-transactions-area .recent-transactions {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.register-transaction-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register-transaction-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 360px) {
  .form-group {
    flex-direction: row;
    justify-content: space-around;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-field .small-form-label {
  color: var(--color-text-secundary);
  font-weight: 400;
  font-family: "Roboto";
}
.form-field .small-form-label span {
  color: var(--color-outflow);
}

.select-input {
  padding: 0.8rem 0rem;
  border: none;
  border-radius: 8px;
  background-color: var(--color-bg-input);
  color: var(--color-text-secundary);
  font-weight: 600;
}

.date-input {
  padding: 0.8rem 0.3rem;
  border: none;
  border-radius: 8px;
  background-color: var(--color-bg-input);
  color: var(--color-text-secundary);
  font-weight: 600;
}

.description-text-area {
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--color-bg-input);
  color: var(--color-text-secundary);
  font-weight: 600;
  max-width: 100%;
  min-width: 100%;
}

.form-button {
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.form-button .navigate-previous-btn {
  border: none;
  background-color: transparent;
  color: var(--color-text-primary);
  transition: 0.3s ease;
  font-size: 1.3rem;
  position: absolute;
  left: 5%;
  bottom: 30%;
  top: 30%;
}
.form-button .add-transaction-btn {
  border: none;
  border-radius: 8px;
  padding: 0.6rem;
  width: 60%;
  background-color: var(--color-bg-input);
  transition: 0.3s ease;
  color: var(--color-btn-primary);
  font-weight: 900;
  font-size: 1.1rem;
}
.form-button .add-transaction-btn:hover {
  background-color: var(--color-btn-primary-hover);
  color: var(--color-bg-secundary);
}

/*# sourceMappingURL=styles.css.map */
