@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-bg-primary: #ededed;
  --color-bg-secundary: #fbfbfb;
  --color-text-primary: #111827;
  --color-text-secundary: #6B7280;
  --color-inflow: #16A34A;
  --color-outflow: #DC2626;
  --color-border: #E5E7EB;
  --color-btn-primary: #748ddd;
  --color-btn-primary-hover: #8ba2ef;
  --color-bg-input: #ffffff;
  --color-box-shadow: #c3c2c2;
}

.dark {
  --color-bg-primary: #2c2d2f;
  --color-bg-secundary: #191b21;
  --color-text-primary: #F9FAFB;
  --color-text-secundary: #9CA3AF;
  --color-inflow: #4ADE80;
  --color-outflow: #F87171;
  --color-border: #374151;
  --color-btn-primary: #748ddd;
  --color-btn-primary-hover: #8ba2ef;
  --color-bg-input: #272b32;
  --color-box-shadow: #111111;
}

header {
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .toggle-theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-text-primary);
}

.sub-title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.sub-title p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-text-primary);
}

.align-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.large-btn {
  min-width: 80%;
  height: 2.5rem;
  background-color: var(--color-btn-primary);
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.large-btn:hover {
  background-color: var(--color-btn-primary-hover);
}
.large-btn .large-btn-text {
  font-family: "Roboto";
  color: var(--color-bg-secundary);
  font-weight: 600;
  font-size: larger;
}

.large-input {
  color: var(--color-text-primary);
  font-family: "Roboto";
  border: none;
  border-radius: 8px;
  background-color: var(--color-bg-input);
  height: 2.5rem;
  padding: 0rem 0.4rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.auth-card-footer-text {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  color: var(--color-text-secundary);
}
.auth-card-footer-text a {
  text-decoration: none;
}
.auth-card-footer-text span {
  color: var(--color-btn-primary);
  font-family: "Roboto";
  transition: 0.3s ease;
}
.auth-card-footer-text span:hover {
  color: var(--color-btn-primary-hover);
  font-weight: 500;
}

.container-card {
  background-color: var(--color-bg-secundary);
  padding: 2rem;
  border-color: var(--color-border);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem var(--color-box-shadow);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--color-bg-input);
  height: 3rem;
  border-radius: 8px;
  box-shadow: 0rem 0.3rem 0.5rem var(--color-box-shadow);
}
.dashboard-item .dashboard-item-name {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Roboto";
  color: var(--color-text-primary);
}
.dashboard-item .dashboard-item-value {
  font-family: "Space Mono";
  font-weight: 600;
  font-size: 1.2rem;
}
.dashboard-item .dashboard-item-value .inflow {
  color: var(--color-inflow);
}
.dashboard-item .dashboard-item-value .outflow {
  color: var(--color-outflow);
}

.dashboard-stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
}

main {
  height: 100%;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
